--allman false
--binarygrouping 4,8
--closingparen same-line
--commas inline
--comments ignore
--decimalgrouping 3,6
--elseposition same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--header ignore
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef outdent
--indent 4
--indentcase false
--linebreaks lf
--octalgrouping 4,8
--operatorfunc spaced
--patternlet inline
--ranges spaced
--self remove
--semicolons never
--stripunusedargs closure-only
--trimwhitespace always
--wraparguments beforefirst
--wrapcollections beforefirst
--disable blankLinesAroundMark,blankLinesAtEndOfScope,blankLinesAtStartOfScope,blankLinesBetweenScopes,redundantSelf,trailingClosures,andOperator

# exclude files
--exclude Carthage,build,Conviva,container,cucumber,ExternalResources,fastlane,Firebase,fonts,hooks,Scripts,TotalRekall/TotalRekallTests
